body{
    max-width: 960px;
    margin-left: 285px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.child:hover {
    background-color: blue;
  }

.buttonContainer{
margin: 25px;
display: flex;
justify-content: center;
}

button{
    padding: 20px;
}